# WiFi Konfiguration
wifi_ssid = "YOUR_WIFI_SSID"
wifi_password = "YOUR_WIFI_PASSWORD"
wifi_hostname = "Tibber-LCD-01"

# MQTT Konfiguration (ioBroker tibberlink Adapter)
mqtt_server = "YOUR_MQTT_BROKER_IP"
mqtt_port = 1884
mqtt_topic = "tibberlink/0/Homes/YOUR_HOME_ID/CurrentPrice/level"
mqtt_power_topic = "tibberlink/0/LocalPulse/0/Power"
mqtt_price_topic = "tibberlink/0/Homes/YOUR_HOME_ID/CurrentPrice/total"
mqtt_username = "mqtt"
mqtt_password = "YOUR_MQTT_PASSWORD"
client_id = "Tibber-LCD-01"

# WebREPL Konfiguration
webrepl_password = "YOUR_WEBREPL_PASSWORD"
